<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.9">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.23">
    <script>node {
    stage(&quot;Stage Parallel&quot;) {
        def branches = [:]
        for (int i = 0; i &lt; 5; i++) {
            branches[&quot;split${i}&quot;] = {
                stage(&quot;Stage parallel- #&quot;+i) {
                    node {
                        echo  &apos;Starting sleep&apos;
                        sleep 10
                        echo  &apos;Finished sleep&apos;
                    }
                }
            }
        }
        parallel branches
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>