<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.9">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.23">
    <script>node {
    stage(&quot;Workspace preparations&quot;) {
        echo &apos;Workspace: &apos; + env.WORKSPACE
        sh &quot;touch myworkspace&quot;
    }
    stage(&quot;Stage Parallel&quot;) {
        def branches = [:]
        for (int i = 0; i &lt; 5; i++) {
            def stagename = &apos;foo&apos; + i
            stage(foo) {
                echo &apos;bar&apos;
            }
            /*branches[&quot;split${i}&quot;] = {
                stage(&quot;Stage parallel- #&quot;+i) {
                    node {
                        echo &apos;Starting sleep&apos;
                        echo &apos;Workspace: &apos; + env.WORKSPACE
                        sh &quot;ls -l&quot;
                        sleep 2
                        echo &apos;Finished sleep&apos;
                    }
                }
            }*/
        }
        //parallel branches
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>