<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.9">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.23">
    <script>node {
    
    def counter2 = 0
    def targets = &apos; ar71xx-generic ar71xx-nand brcm2708-bcm2708 brcm2708-bcm2709 mpc85xx-generic x86-generic x86-kvm_guest x86-64 x86-xen_domu&apos;.trim()
    String[] params = targets.split(&apos; &apos;)
    
    // String[] params = Params.split(&quot;\\r?\\n&quot;)
    for (String param: params) {
        println &quot;Param: ${param}&quot;
    }
    
    for (String target: params) {
        stagename = &apos;Build &apos; + target
        stage(stagename) {
            env.GLUON_TARGET = target
            echo &apos;GLUON_TAREGT: &apos; + env.GLUON_TARGET
        }
    }

    exit
    
    // env.ffsitebranch = &apos;refs/tags/v0.2.90-stable.1&apos;
    // env.ffsitebranch = &quot;master&quot;
    env.ffsitebranch = &quot;gluon-2016.2.1&quot;
    
    wrap([$class: &apos;TimestamperBuildWrapper&apos;]) {
        timeout(time: 6, unit: &apos;HOURS&apos;) {
            ws {
                stage(&apos;Cleanup&apos;) {
                    deleteDir()
                }
                dir(&apos;site&apos;) {
                    stage(&apos;Checkout site.conf&apos;) {
                        checkout([$class: &apos;GitSCM&apos;, userRemoteConfigs: [[url: &apos;https://github.com/chris1911/site-ffka&apos;]], branches: [[name: env.ffsitebranch]]])
                    }

                    env.gluonBranch = sh([returnStdout: true, script: &apos;make -f jenkins.mk gluonbranch&apos;])
                    echo &apos;Corresponding gluon tag: &apos; + env.gluonbranch
                }
                
                dir(&apos;ffka&apos;) {
                    stage(&apos;Checkout gluon&apos;) {
                        def branchName = &apos;refs/tags/&apos; + env.gluonBranch
                        echo &apos;gluon-srcs: git branch name: &apos; + branchName
                        checkout([$class: &apos;GitSCM&apos;, userRemoteConfigs: [[url: &apos;https://github.com/freifunk-gluon/gluon&apos;]], branches: [[name: branchName]]])
                        sh &quot;ln -s ../site ./site&quot;
                    }
                    
                    stage(&apos;Update sub projects&apos;) {
                        sh &quot;make update&quot;
                    }
                    
                    def counter = 0
                    
                    def gluontargets = sh &quot;make -f site/jenkins.mk targets&quot;
                    gluontargets.each { target -&gt; 
                        stagename = &apos;Build &apos; + target
                        stage(stagename) {
                            env.GLUON_TARGET = target
                            sh &quot;make -j \$(nproc) clean&quot;
                            sh &quot;make -j \$(nproc)&quot;
                        }
                        
                        ++counter
                        if (counter == 3) {
                            break exit
                        }
                    }
                }
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>