<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="org.jenkinsci.plugins.multiplescms.MultiSCM" plugin="multiple-scms@0.6">
    <scms>
      <hudson.plugins.git.GitSCM plugin="git@3.0.0">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <url>https://github.com/freifunk-gluon/gluon</url>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>refs/tags/v2016.2</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <submoduleCfg class="list"/>
        <extensions>
          <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
            <relativeTargetDir>gluon</relativeTargetDir>
          </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
          <hudson.plugins.git.extensions.impl.WipeWorkspace/>
        </extensions>
      </hudson.plugins.git.GitSCM>
      <hudson.plugins.git.GitSCM plugin="git@3.0.0">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <url>https://github.com/ffka/site-ffka</url>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>*/master</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <submoduleCfg class="list"/>
        <extensions>
          <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
            <relativeTargetDir>gluon/site</relativeTargetDir>
          </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        </extensions>
      </hudson.plugins.git.GitSCM>
    </scms>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;$(date) - make update&quot; &gt;&gt; $WORKSPACE/timing.txt
cd $WORKSPACE/gluon &amp;&amp; \
make update
echo &quot;$(date) - make update - done&quot; &gt;&gt; $WORKSPACE/timing.txt</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>export GLUON_TARGET=ar71xx-generic
echo &quot;$(date) - make target $GLUON_TARGET&quot; &gt;&gt; $WORKSPACE/timing.txt
cd $WORKSPACE/gluon &amp;&amp; make -j $(nproc) clean &amp;&amp; make -j $(nproc)
echo &quot;$(date) - make target $GLUON_TARGET - done&quot; &gt;&gt; $WORKSPACE/timing.txt</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>export GLUON_TARGET=ar71xx-nand
echo &quot;$(date) - make target $GLUON_TARGET&quot; &gt;&gt; $WORKSPACE/timing.txt
cd $WORKSPACE/gluon &amp;&amp; make -j $(nproc) clean &amp;&amp; make -j $(nproc)
echo &quot;$(date) - make target $GLUON_TARGET - done&quot; &gt;&gt; $WORKSPACE/timing.txt</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>export GLUON_TARGET=brcm2708-bcm2708
echo &quot;$(date) - make target $GLUON_TARGET&quot; &gt;&gt; $WORKSPACE/timing.txt
cd $WORKSPACE/gluon &amp;&amp; make -j $(nproc) clean &amp;&amp; make -j $(nproc)
echo &quot;$(date) - make target $GLUON_TARGET - done&quot; &gt;&gt; $WORKSPACE/timing.txt</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>export GLUON_TARGET=brcm2708-bcm2709
echo &quot;$(date) - make target $GLUON_TARGET&quot; &gt;&gt; $WORKSPACE/timing.txt
cd $WORKSPACE/gluon &amp;&amp; make -j $(nproc) clean &amp;&amp; make -j $(nproc)
echo &quot;$(date) - make target $GLUON_TARGET - done&quot; &gt;&gt; $WORKSPACE/timing.txt</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>export GLUON_TARGET=mpc85xx-generic
echo &quot;$(date) - make target $GLUON_TARGET&quot; &gt;&gt; $WORKSPACE/timing.txt
cd $WORKSPACE/gluon &amp;&amp; make -j $(nproc) clean &amp;&amp; make -j $(nproc)
echo &quot;$(date) - make target $GLUON_TARGET - done&quot; &gt;&gt; $WORKSPACE/timing.txt</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>export GLUON_TARGET=x86-64
echo &quot;$(date) - make target $GLUON_TARGET&quot; &gt;&gt; $WORKSPACE/timing.txt
cd $WORKSPACE/gluon &amp;&amp; make -j $(nproc) clean &amp;&amp; make -j $(nproc)
echo &quot;$(date) - make target $GLUON_TARGET - done&quot; &gt;&gt; $WORKSPACE/timing.txt</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>export GLUON_TARGET=x86-generic
echo &quot;$(date) - make target $GLUON_TARGET&quot; &gt;&gt; $WORKSPACE/timing.txt
cd $WORKSPACE/gluon &amp;&amp; make -j $(nproc) clean &amp;&amp; make -j $(nproc)
echo &quot;$(date) - make target $GLUON_TARGET - done&quot; &gt;&gt; $WORKSPACE/timing.txt</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>export GLUON_TARGET=x86-kvm_guest
echo &quot;$(date) - make target $GLUON_TARGET&quot; &gt;&gt; $WORKSPACE/timing.txt
cd $WORKSPACE/gluon &amp;&amp; make -j $(nproc) clean &amp;&amp; make -j $(nproc)
echo &quot;$(date) - make target $GLUON_TARGET - done&quot; &gt;&gt; $WORKSPACE/timing.txt</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>export GLUON_TARGET=x86-xen_domu
echo &quot;$(date) - make target $GLUON_TARGET&quot; &gt;&gt; $WORKSPACE/timing.txt
cd $WORKSPACE/gluon &amp;&amp; make -j $(nproc) clean &amp;&amp; make -j $(nproc)
echo &quot;$(date) - make target $GLUON_TARGET - done&quot; &gt;&gt; $WORKSPACE/timing.txt</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>echo &quot;$(date) - finalize&quot; &gt;&gt; $WORKSPACE/timing.txt
cd $WORKSPACE/gluon/output/images/factory &amp;&amp; \
md5sum -b * &gt; md5.txt &amp;&amp; \
cd $WORKSPACE/gluon/output/images/sysupgrade &amp;&amp; \
md5sum -b * &gt; md5.txt &amp;&amp; \
make -C $WORKSPACE/gluon manifest GLUON_BRANCH=stable &amp;&amp; \
7za a -t7z -mx=9 -ms=on $WORKSPACE/images.7z $WORKSPACE/gluon/output/images/
echo &quot;$(date) - finalize - done&quot; &gt;&gt; $WORKSPACE/timing.txt
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.32">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>